.card {
  position: relative;
  margin: 0;
  box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  padding: 1em;
  overflow: hidden;
  background-color: #fff;
  min-height: 200px;
  font-size: 1em;
  color: #252a34;
  text-transform: uppercase;
  font-weight: 700;
}
