.card {
  position: relative;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 12px;
  padding: 1em;
  overflow: hidden;
  background-color: #fff;
  min-height: 200px;
  font-size: 1em;
  color: #252a34;
  text-transform: uppercase;
  font-weight: 700;
}
