.footer {
  padding: 1em;
  background-color: #eaeaea;
  width: 100%;
  min-height: 7rem;
  color: #252a34;
  position: fixed;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  font-weight: 700;
}

.footerContainer {
  font-variant: small-caps;
  align-self: center;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.footerLinks p {
  margin-bottom: 0.5em;
}

.footerLink {
  transition: all 200ms;
}

.footerLink:hover {
  transform: scale(1.2);
}

.attribution {
  font-size: 1em;
  font-variant: small-caps;
  align-self: center;
}

@media only screen and (max-width: 768px) {
  .footer {
    font-size: 12px;
  }
}
