.header {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  background-color: #08d9d6;
  color: #252a34;
  font-family: 'Fira Sans';
}

.logo {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 2;
}

.index {
  transition: all 200ms;
}

.index:link {
  text-decoration: none;
}

.index:visited {
  text-decoration: none;
  color: inherit;
}

.heatingAndCooling {
  font-family: 'Pacifico';
  font-size: 0.8em;
  margin-left: 8px;
  text-shadow: 1px 2px 2px #ff2e63;
}

.airDoctorsDiv {
  display: flex;
  align-items: center;
}

.airDoctorsIcon {
  margin-right: 0.3em;
}

.nav {
  display: flex;
  align-items: center;
}

.drawerButton {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .drawerButton {
    width: 3em;
    height: 3em;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 2em;
    cursor: pointer;
  }

  .drawerButton span {
    display: block;
    width: 3em;
    height: 2.5px;
    background: #fff;
  }

  .nav ul {
    display: none;
  }

  .logo {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 768px) {
  .airDoctorsDiv svg {
    display: none;
  }

  .airDoctorsDiv h1 {
    font-size: 22px;
  }
}
