.topbar {
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #eaeaea;
  color: #252a34;
  font-family: 'Fira Sans';
  font-weight: 500;
  font-size: 1em;
}

.location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-style: italic;
  flex: 1;
}

.location > svg:hover {
  transform: scale(1.1);
}

.switch {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.phone a {
  text-decoration: none;
  color: #252a34;
}

.phone a:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

.phone > svg:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
  .topbar {
    font-size: 12px;
  }
}
